
 :root {
  --btn-color:#1992d4;
  --main-bg-theme :#e2e8f0;
 }


 /* general tag styling */
 body{
  min-height: 100vh;
 }
ul{
  color:white;
  font-family: "roboto regular midbold";
  font-size: large;
}
li a {
  text-decoration: none;
  color:white
} 
li a:hover {
  color:aliceblue ;
 
}

 /* --- general tag styling ---*/


 @font-face {
  font-family: "roboto regular";
  src: url("asset/fonts/robotos/Roboto-Regular.ttf");
 }
 @font-face {
  font-family: "roboto regular bolder";
  src: url("asset/fonts/robotos/Roboto-Bold.ttf");
 }
 @font-face {
  font-family: "roboto regular midbold";
  src: url("asset/fonts/robotos/Roboto-Medium.ttf");
 }



/*grid   */
.grid{
    display:grid;
} 
.grid .c2{
  grid-template-columns: auto auto;
}


.g1 {
  gap:4px;
}
.g2{
  gap:8px;
}
.g3 {
  gap:16px;
}
 .g4 {
  gap:32px;
}


.grid .r2{
  grid-template-rows: auto auto;
}
/* ---- grid ------*/


/* flex */
.flex{
  display:flex;
} 
.flex.c {
  flex-direction:column
}
.flex.w {
  flex-wrap: wrap;
} 
.flex.w-r{
  flex-wrap: wrap-reverse;
}

/* ----flex ----*/

body.flex{

} 
body.flex > header {
background-color: var(--btn-color);
/* width : fit-content; */
color:white;
padding:20px 5rem 0 20px;
font-family: "roboto regular";
}

nav .logo{
  font-weight: 700;
  font-family: "roboto regular bolder";
}


nav .logo img {
  margin-right: 20px;
  width:5rem;
}
ul.general li::marker,ul.imp li::marker {
  margin:auto 0
}
ul.general li a,ul.imp li a{
padding-left: 50px;
}
ul.general :first-child{
  list-style-image:url("asset/home.png")
}
ul.general :nth-child(2){
  list-style-image:url("asset/user.png")
}
ul.general :nth-child(3){
  list-style-image:url("asset/message.png")
}
ul.general :nth-child(4){
  list-style-image:url("asset/time.png")
}
ul.general :nth-child(5){
  list-style-image:url("asset/task.png")
}
ul.general :last-child{
  list-style-image:url("asset/group.png")
}

ul.imp :first-child{
  list-style-image:url("asset/settings.png")
}
ul.imp :nth-child(2) {
  list-style-image:url("asset/help.png")
}
ul.imp :last-child {
  list-style-image:url("asset/privacy.png")
}
body.flex main {
    
    flex: 1;
    min-width: 600px;

} 


/* main.grid aside {
  background-color: var(--btn-color);
  grid-area:aside;
  } */