
@font-face {
  font-family: "roboto regular";
  src: url("asset/fonts/robotos/Roboto-Regular.ttf");
 }
 @font-face {
  font-family: "roboto regular bolder";
  src: url("asset/fonts/robotos/Roboto-Bold.ttf");
 }
 @font-face {
  font-family: "roboto regular midbold";
  src: url("asset/fonts/robotos/Roboto-Medium.ttf");
 }



 
 
 
 :root {
  --btn-color:#1992d4;
  --main-bg-theme :#e2e8f0;
  --light-text-color:#636363;
  --horizontal-rule-color:#d2d2d2;
  --card-side-boundary-color:#f0b429;
 }
/* margin */
.mt-3{
margin-top:30px;
}


/*--- margin ----*/

 /* general tag styling */
 body{
  min-height: 100vh;
 }
ul{
  color:white;
  font-family: "roboto regular midbold";
  font-size: large;
}
li a {
  text-decoration: none;
  color:white
} 
li a:hover {
  color:aliceblue ;
 
}

button {
  color:white;
  background-color: var(--btn-color);
  border:0;
  border-radius: 20px;
  padding:10px 25px;
  box-shadow: 0 3px 5px 0px rgb(175, 175, 175);
}

button:hover{
  box-shadow: 0 6px 5px 0px grey;
}
 /* --- general tag styling ---*/


/*grid   */
.grid{
    display:grid;
} 

.grid .c2{
  grid-template-columns: auto auto;
}


.g1 {
  gap:4px;
}
.g2{
  gap:8px;
}
.g3 {
  gap:16px;
}
 .g4 {
  gap:32px;
}


.grid.r2{
  grid-template-rows: auto auto;
}
.grid.rfill {
  grid-template-rows: repeat(auto-fill, auto);
}

.grid.cfill {
  grid-template-columns: repeat(auto-fill, auto);
}
/* ---- grid ------*/


/* flex */
.flex{
  display:flex;
} 
.flex.c {
  flex-direction:column
}
.flex.w {
  flex-wrap: wrap;
} 
.flex.w-r{
  flex-wrap: wrap-reverse;
}
.flex.vcenter{
  align-items: center;
}
/* ----flex ----*/
 


/* input */
input[type="search"] {
  background-color: var(--main-bg-theme);
  border-radius:50px / 70px;
  padding:5px 0 5px 20px;  
  border:0;
  width:100%;
}
div.search{
  position: relative;
margin-left: 32px;

}
div.search::before { 
  position: absolute;
  left:-35px;
  top:2px;
  content: ""; 
  display:inline-block;
  background: url("asset/magnify.svg") no-repeat center ; 
  background-size: contain;
  width:20px;
  height:20px;
  margin:auto 0  } 
 /*-- input ---*/





/* card  */

.card{
  background-color: white;

  padding: 5px 1.5vw;
  text-align:left;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px #8d8c8c;
  cursor: pointer;
}
.card-body {
 padding:15px 0;

} 
.card-body.with-img {
  padding:7px 0;
}
.card-body.with-img img{
  border-radius: 50%; 
}
.card-body.hr{
  border-bottom: 1.5px solid var(--horizontal-rule-color);
}
.card h5.card-heading , .card-body p.card-text{
  margin:0
}
.card-body .card-text{
 color: var(--light-text-color);
 font-size: 0.7rem;
}


/* --- card ----*/


/* border */ 
.box1{
  box-shadow: 2px 1.5px 5px 0px #b8b6b6;
}

/* ---border --- */



body.flex{

} 
body.flex > header {
background-color: var(--btn-color);
/* width : fit-content; */
color:white;
padding:20px calc(  1.5rem + 1vh) 0 20px;
font-family: "roboto regular";
}

nav .logo{
  font-weight: 700;
  font-family: "roboto regular bolder";
}


nav .logo img {
  margin-right: 20px;
  width:2.5rem;
}
nav .logo h1 {
  font-size: calc( 1.5em + 0.5vmin);
  margin: 0.67em 0;

}
ul.general li::marker,ul.imp li::marker {
  margin:auto 0
}
ul.general li a,ul.imp li a{
padding-left: 1.5rem;
}
ul.general :first-child{
  list-style-image:url("asset/home.png")
}
ul.general :nth-child(2){
  list-style-image:url("asset/user.png")
}
ul.general :nth-child(3){
  list-style-image:url("asset/message.png")
}
ul.general :nth-child(4){
  list-style-image:url("asset/time.png")
}
ul.general :nth-child(5){
  list-style-image:url("asset/task.png")
}
ul.general :last-child{
  list-style-image:url("asset/group.png")
}

ul.imp :first-child{
  list-style-image:url("asset/settings.png")
}
ul.imp :nth-child(2) {
  list-style-image:url("asset/help.png")
}
ul.imp :last-child {
  list-style-image:url("asset/privacy.png")
}
body.flex main {
    
  flex: 1;
  min-width: 600px;

} 

main.grid{
  grid-template-rows: 200px auto;
  
}

main.grid header {
  font-family: "roboto regular midbold";
  padding: 20px 3vw;
  box-shadow: 0 6px 5px 0px #8d8c8c;
  } 


 
main header > nav:first-child  {
grid-template-columns:auto 40px 40px 110px;
grid-template-rows: 1fr;
}  
main header > nav * {
  margin:auto 0;
}
main header > nav  .user-profile{
  border-radius: 50%;  
  } 

  main header > nav:last-child  {
    grid-template-columns: 80px auto 310px;
    
    }     


main.grid > aside.grid {
  box-shadow: inset 0 6px 5px rgb(180, 180, 180);
  background-color: var(--main-bg-theme);
  padding:0 1.5vw;
  font-family:"roboto regular";
 
  grid-template-columns: auto 220px;
} 
main.grid > aside.grid > :first-child .cards{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: space-between;
}
main.grid > aside.grid > :first-child .cards .card {
  border-left:7px solid var(--card-side-boundary-color);
  transition: all 1s ease-in-out;
  transform-origin: left;
}
main.grid > aside.grid > :first-child .cards .card .card-body.flex.c.g2.vcenter .icons {
  align-self: flex-end;
  width:40%;
  justify-content: space-between;
} 
main.grid > aside.grid > :first-child .cards .card:hover{
  background-color: var(--card-side-boundary-color);
  border-left:7px solid white;
} 
main.grid > aside.grid > :first-child .cards .card:hover .card-heading{
  color:white
}

main.grid > aside.grid > :last-child{
  /* background-color: #38d419; */
  grid-template-rows: min-content auto;
  gap:20px
}




